@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $fontPrimary;
}
h1, h2, h3, h4, h5, h6{
    font-family: $fontPrimary;
    margin: 0 !important;
}
a{
    text-decoration:none !important;
}
ul{padding:0 !important;}
li{list-style-type:none;}

p{
    font-family: $fontPrimary;
    margin:0 !important;
    padding:0;
    line-height: 25px;
    font-size: 14px;
}


//Common Css
// .owl-nav{
//   button{
//     &.disabled{
//       background: #5c2664 !important;
//       img{
//         filter: brightness(0) invert(1);
//       }
//     }
//     &:hover{
//       background: #5c2664 !important;
//     }
//   }
// }
.inner-page-header-seprator {
  padding: 120px 0;
  @include breakpoint(1400px){
    padding: 100px 0;
  }
  @include md{
    padding: 70px 0;
  }
}
p{
  br{
    @include lsm{
      display:none;
    }
  }
 }
.owl-item img {
  width: auto !important;
}
.owl-theme .owl-nav .disabled {
  opacity: 1 !important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
}
.sec-heading{
    font-weight: $bold;
    color: $PrimaryClr;
    font-size: 30px;
    position: relative;
    padding-bottom: 11px;
    @include lsm{
      font-size: 27px;
    }
    @include sm{
      font-size: 22px;
    }
   p{
    br{
      @include md{
        display:none;
      }
    }
   }
   span{
      // font-size: 24px;
      font-weight:$regular;
    }
}

.owl-stage-outer {
    padding: 0 !important;
}
.owl-stage {
    padding-bottom: 5px !important;
}
.owl-carousel {
    @include lg{
        margin: 0 !important;
    }
}
.owl-theme .owl-nav {
    @include sm{
        margin: 0 auto;
    }
}

.owl-stage {
    display: flex;
}
@media (min-width:1200px) {
  .container{
    max-width: 1170px !important; 
  }
}
/* Responsive Menu Bar Animation */

  #nav-icon3{
    width: 28px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    &.open{
      span{
        width: 71%;
        &:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }
    span {
      display: block;
      position: absolute;
      height: 2.3px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
        transform: translateX(-50%);
        left: 50%;
      }
      &:nth-child(2), &:nth-child(3){
        top: 8px;
      }
      &:nth-child(4) {
        top: 16px;
        transform: translateX(-50%);
        left: 50%;
      }
    }
  }
/* Responsive Menu Bar Animation */
//Common Css



// Header
.bg-header{
  background-color: transparent;
  @include md{
    background-color: $PrimaryClr;
  }
  &::after{
    @include bg-props();
    width: 100%;
    height: 284px;
    position: absolute;
    top: 0;
    z-index: 0;
    content:'';
    pointer-events: none;
    @include md{
      background-image: none;
    }
  }
  .navbar{
    .navbar-brand{
      top: -7px;
    }
  }
}
header{
  position: absolute;
  top:0;
  width: 100%;
  background-color: $PrimaryClr;
  z-index: 999;
  .navbar{
    z-index: 9;
    padding: 19px 0;
    .navbar-toggler {
        border: none;
        outline: none;
        padding: 0;
        &:focus{
          outline: 0 !important;
        border: none;
        box-shadow: 0 0 0 !important;
        }
    }
    .navbar-brand{
      display:none;
      @include md{
        display: block;
        top: -71px;
        padding: 0;
        @include center(horizontal)
      }
      img{
        @include md{
          width: 118px;
        }
      }
    }
    .navbar-nav{
      @include md{
        margin-top: 55px !important;
      }
      .nav-item{
        position:relative;
        transition:all 0.5s;
        &:hover{
          transition:all 0.5s;
          &::after{
            width:77%;
          }
        }
        &::after{
          content:'';
          position:absolute;
          bottom:5px;
          height:2px;
          width: 0%;
          background-color: $SecondaryClr;
          left:0;
          @include center(horizontal);
          transition: all 0.5s;
          @include md{
            display:none;
          }
        }
        .nav-link{
          padding: 12px 27px;
          color: $white;
          @include breakpoint(1280px){
            padding: 12px 19px;
          }
          @include lg{
            padding: 12px 7px;
          }
          @include md{
            text-align: center;
            border-bottom: 1px solid;
          }
        }
      }
      .logo-nav-item{
        position: relative;
        margin: 0 125px;
        @include breakpoint(1366px){
          margin: 0 95px;
        }
        @include md{
          display:none;
        }
        .logo-nav-link {
          padding: 0px 0px 0 10px;
          top: -31px;
          @include center(horizontal);
          img{
            @include breakpoint(1366px){
              width: 170px;
            }
          }
        }
      }
      .dropdown{
        &:hover{
          .dropdown-menu{
            @include min-md{
              display: block;
            }
          }
        }
        .dropdown-menu{
          border-radius:0px;
          @include md{
            display:none !important;
            background-color: #4c1c53;
          }
          &.show{
            @include md{
              display: block !important;
            }
          }
          li{
            a{
              @include md{
                color: $white;
              }
              &:hover{   
                color: $white;
                background-color: $SecondaryClr;
              }
            }
          }
        }
      }
    }
  }
}
// Header

// Banner Area
.banner-area{
    background-image: url(../img/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    @include md{
      height: 60vh;
    }
    .banner-heading{
      font-family: 'a_always_smileregular';
      color: $white;
      font-size: 72px;
      text-align: center; 
      letter-spacing: 8px;
      margin-bottom: 20px;
      position: relative;
      animation: BannerTextAnim 3s 1;
      // @include center(both);
      @include breakpoint(1440px){
        font-size: 62px;
      }
      @include breakpoint(1199px){
        font-size: 59px;
      }
      @include lg{
        font-size: 49px;
      }
      @include md{
        font-size: 42px;
      }
      @include lsm{
        font-size: 34px;
      }
      @include sm{
        font-size: 25px;
      }
    }
  .banner-content{
    position: relative;
  }
}
// Banner Area


.we-proud-area.we-proud-active{
  .bg-proud-hu-icon {
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition:all 0.5s;
    @include lg{
      display:none !important;
      transform: scale(0);
    }
    @include md{
      display:none !important;
      transform: scale(0);
    }
  }
  .produd-img{
    img{
      position: relative;
      transition: all 0.5s;
      &:nth-child(1){
        top: -22px;
        left: 0;
      }
      &:nth-child(2){
        top: -50px;
        left: 57px;
      }
      &:nth-child(3){
        top: 0;
        left: -40px;
      }
      &:nth-child(4){
        top: -10px;
        left: 30px;
      }
    }
  }
}
.we-proud-area{
  padding: 100px 0 40px;
  background-color: #fdf9ee;
  @include sm{
    padding: 78px 0 40px;
  }
  .bg-proud-hu-icon {
      position: absolute;
      opacity: 0;
      transform: scale(0.8);
      transition:all 0.5s;
      @include lg{
        display:none !important;
        transform: scale(0);
      }
   }
  .produd-img{
    img{
      position: relative;
      transition: all 0.5s;
      @include breakpoint(1280px){
        width:43%;
      }
      &:nth-child(1){
        top: 0;
        left: 0;
        @include md{
          left: 40px;
        }
        @include lsm{
          left: 15px;
        }
      }
      &:nth-child(2){
        top: -50px;
        left: 43px;
        @include md{
          left: 68px;
        }
        @include lsm{
          left: 48px;
        }
        @include sm{
          left: 29px;
        }
      }
      &:nth-child(3){
        top: 0;
        left: -20px;
        @include md{
          left: 30px;
        }
        @include lsm{
          left: 15px;
        }
      }
      &:nth-child(4){
        top: -40px;
        left: 30px;
        @include md{
          left: 70px;
        }
        @include lsm{
          left: 50px;
        }
        @include sm{
          left: 28px;
        }
      }
    }
  }
}

.alumuni-affairs{
  padding: 50px 0;
  @include lsm{
    padding: 30px 0;
  }
  .section-cont{
    text-align: center;
    padding: 0 15% 40px;
    @include md{
      padding: 0 1% 40px;
    }
  }
  .events-box{
    position: relative;
    box-shadow: 0px 0px 18px 1px rgba(92, 38, 100, 0.3);
    transition: all 0.5s;
    @include md{
      box-shadow: 0px 0px 0 0px rgba(0, 38, 100, 0.3);
    }
    &:hover{
      margin-top:-25px;
      transition: all 0.5s;
      @include md{
        margin-top:0;
      }
    }
    img{
      width:100% !important;
      @include sm{
        margin:0 auto;
      }
    }
    h5{
      position: absolute;
      bottom: 24px;
      font-weight: $medium;
      color: $white; 
      width: 100%;
      text-align: center;
    }
  }
}

.featured-alumni{
  background-image: url(../img/background.jpg);
  background-size: cover;
  padding: 43px 0 230px;
  background-position: center;
  @include lg{
    background-image: none;
    background-color: rgba(253,249,238,1);
    padding: 40px 0;
  }
  @include lg{
    padding: 20px 0;
  }
  .feature-alumni-cont{
    .sub-para {
      display: block;
      color: $PrimaryClr;
    }

  }
  .alumni-profile{
    @include FlexDAJ($d-fl, $di-ro , $al-ce, $ju-ce);
    background-image: url(../img/mushba-said-bg.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 24px 0;
    @include breakpoint(1199px){
      background-position: top;
    }
    img{
      @include sm{
        width: 100%;
      }
    }
    p{
      text-align: center;
      padding: 0 16%;
      position: relative;
      @include breakpoint(1199px){
        padding: 0 9%;
      }
      @include lsm{
        padding: 0 5%;
      }
      &::before{
        content:'';
        background-image: url(../img/up-annotation.svg);
        position:absolute;
        top: 0;
        left: 6%;    
        width: 50px;
        height: 40px;
        background-repeat: no-repeat;
        @include md{
          background-size: 40%;
          left: 0%;   
        }
      }
      &::after{
        content:'';
        background-image: url(../img/down-annotation.svg);
        position:absolute;
        bottom: 0;
        right: 6%;
        width: 50px;
        height: 40px;
        background-repeat: no-repeat;
        @include md{
          right: 0%;
          background-size: 40%;
          background-position: bottom right;
        }
      }
    }
  }
}


.alumni-services{
  padding: 50px 0 70px;
  @include lsm{
    padding: 30px 0 40px;
  }
  p{
    br{
      @include md{
        display:none;
      }
    }
    
  }
  .alumni-box-row{
    @include FlexDAJ($d-fl, $di-ro , $al-st, $ju-be);
    margin-top: 30px;
    .alumni-box{
      width: 30%;
      position: relative;
      box-shadow: 0px 0px 18px 1px rgba(92, 38, 100, 0.3);
      margin-bottom: 45px;
      position: relative;
      transition: all 0.5s;
      @include md{
        width: 100%;
        margin-bottom: 0px;
      }
      &:hover{
         margin-top: -25px;
         @include md{
           margin-top: 0px;
         }
      }
      h5 {
        position: absolute;
        bottom: 24px;
        font-weight: 500;
        color: #fff;
        width: 100%;
        padding-left: 15px;
      }
      img{
        width:100% !important;
      }
    }
  }
  .view-details {
    border: 1px solid $PrimaryClr;
    font-size: 18px;
    padding: 10px 30px;
    display: table;
    margin: 0 auto;
    color:  $PrimaryClr;
    transition: all 0.5s;
    &:hover{
      background-color:  $PrimaryClr;
      color:$white;
    }
  }
}

.access-to-portal{
  // background-color: $PrimaryClr;
  padding: 92px 0;
  background-image: url(../img/access-to-alumnni-portal-banner.png);
  @include lg{
    padding: 51px 0;
  }
  @include lsm{
    padding: 31px 0;
  }
  position:relative;
  &::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    background-image: url(../img/portal-banner-image.jpg);
    background-repeat: no-repeat;
    background-size:96%;
    width: 62%;
    height:98%;
    z-index: 0;
    @include breakpoint(1440px){
      width: 72%;
    }
    @include breakpoint(1280px){
      width: 77%;
    }
    @include breakpoint(1199px){
      width: 84%;
    }
    @include lg{
      display: none;
    }
  }
  .access-portal-content{
    position: relative;
    z-index: 1;
    .sec-heading, p, a{
      color:$white;
    }
    p{
      padding-bottom: 27px;
    }
    .alumni-link{
      display:table;
      .alum-port{
        @include FlexDAJ($d-fl, $di-ro , $al-ce, $ju-st);
        .alum-atta{
          @include FlexDAJ($d-fl, $di-ro , $al-ce, $ju-ce);
          .att-line {
            width: 20px;
            height: 1px;
            background-color: #fff;
            margin: 0 3px;
          }
        }
        .arrow-click {
          border: 1px solid;
          padding: 6px 12px 7px;
          margin-left: 10px;
        }
      }
    }
  }
}

.alumni-association{
  padding: 70px 0;
  @include md{
    padding: 30px 0 20px;
  }
  .alumn-associa-img{
    position:relative;
    @include md{
      display:none;
    }
    img{
      width:100%;
      transition: all 0.5s;
    }
    .wheel-sec{
      position: absolute;
      top:0;
      left:0;
    }
  }
  .alumni-ass-ciat-content{
    p{
      padding-bottom:12px;
    }
    .alumni-members{
      display:flex;
      flex-wrap:wrap;
      li{
        width:33.3%;
        font-weight: $semibold;
        padding: 5px 0;
        @include breakpoint(1199px){
          width: 50%;
        }
        @include sm{
          font-size: 14px;
        }
      }
      .li-none{
        @include breakpoint(1199px){
          display:none;
        }
      }
    }
  }
}


.featured-news{
  // background: rgb(214,193,150);
  background: linear-gradient(282deg, rgba(214,193,150,1) 0%, rgba(255,255,255,1) 44%);
  @include lg{
    padding: 50px 0;
  }
  @include md{
    background: none;
    padding: 50px 0 0;
  }
  @include lsm{
    padding: 0px 0 0;
  }
  .featured-news-img{
    position:relative;
    overflow: hidden;
    @include lg{
      display:none;
    }
    h1,h2{
      position:absolute;
      opacity: 0.2;
      color: #fff;
    }
    h1{
      bottom: 0;
      font-size: 207px;
      left: 13px;
      font-weight: $bold;
      @include breakpoint(1600px){
        font-size: 173px;
      }
      @include breakpoint(1440px){
        font-size: 145px;
        bottom: -20px;
        left: 17px;
      }
      @include breakpoint(1280px){
        font-size: 133px;
        bottom: -12px;
      }
      @include breakpoint(1199px){
        font-size: 122px;
        bottom: -20px;
      }
    }
    h2{
      top: 200px;
      font-size: 77px;
      transform: rotate(-90deg);
      left: -110px;
      font-weight: $semibold;
      @include breakpoint(1600px){
        top: 151px;
        font-size: 70px;
        left: -99px;
      }
      @include breakpoint(1366px){
        top: 134px;
        font-size: 66px;
        left: -93px;
      }
      @include breakpoint(1280px){
        top: 115px;
        font-size: 60px;
        left: -83px;
      }
    }

  }
  .featured-content{
    .featured-box-area{
      display:flex;
      @include md{
        flex-direction:column;
      }
      li{
        position:relative;
        width: 25%;
        @include lg{
          width:100%;
        }
        h5 {
          position: absolute;
          bottom: 24px;
          font-weight: 500;
          color: #fff;
          width: 100%;
          text-align: center;
       }
       img{
         width:100% !important;
         @include sm{
          width: auto;
          margin: 0 auto;
         }
       }
        margin-right: 25px;
        // &:last-child{
        //   margin-right: 0;
        // }
      }
    }
  }
}


.contact-alumni-office{
  position: relative;
  padding: 70px 0;
  background-color:$white;
  @include lsm{
    padding: 30px 0;
  }
  .contact-content{
    .contac-details{
      li{
        flex-wrap: nowrap !important;
        @include FlexDAJ($d-fl, $di-ro , $al-st, $ju-st);
        padding-bottom: 19px;
        @include sm{
          padding-bottom: 7px;
        }
        @include xs{
          font-size:13px;
        }
        img{
          margin-right:15px;
          @include sm{
            margin-right:10px;
            width: 15px;
            margin-top: 6px;
          }
        }
        p{
          @include sm{
            font-size:13px;
          }
        }
      }
    }
  }
  .google-map{
    iframe{
      width:100%;
      height: 340px;
    }
  }
}


.main-footer {
  background-color: $PrimaryClr;
  padding: 60px 0;
  position:relative;
  &::after{
    @include center(both);
    content:'';
    height: 87%;
    width:1px;
    background-color: $white;
    @include md{
      display:none;
    }
  }
  p, li ,a{
    color:#fff;
  }
  a{
    text-transform: capitalize;
    &:hover{
      color:#fff;
    }
  }
  h4 {
    font-weight: 700;
    color: #fff;
    padding-bottom: 12px;
  }
  .deatail-foot-content{
    a{
      &:hover{
        color: $PrimaryClr;
      }
    }
    .social-links{
      display:flex;
      li{
        margin-right:15px;
        a{
          border: 1px solid $SecondaryClr;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          i{
            color:$SecondaryClr;
          }
          &:hover{
            background-color: $SecondaryClr;
            i{
              color: $PrimaryClr;
            }
          }
        }
      }
    }
    .copy-right{
      @include md{
        position: absolute;
        bottom: 14px;
      }
    }
  }
  .footer-right{
    .footer-nav{
      display:flex;
      .quick-links{
        width:50%;
        li{
          position:relative;
          font-weight:$semibold;
          margin-bottom: 20px;
          &::after{
            content:'';
            position: absolute;
            bottom: -4px;
            left: 0;
            height:3px;
            width:40px;
            background-color: $SecondaryClr;
          }
          a{
            &:hover{
              color: $SecondaryClr;
            }
          }
        }
        .sub-li{
          font-weight:$regular;
          margin-bottom: 4px;
          &::after{
            display:none;
          }
        }
      }
    }
  }
}

// OFFICE OF ALUMNI PAGE


.profile-area{
  .prof-inner{
    display: flex;
    @include md{
      flex-direction: column;
    }
    .profile-detail {
      width: 20%;
      margin-right: 1%;
      @include md{
        width: 100%;
        text-align: center;
      }
      h5{
        font-weight: $bold;
        padding-top: 12px;
      }
    }
    .prof-content {
      width: 79%;
      @include md{
        width: 100%;
        text-align: center;
      }
    }
  }
}



// SERVICE PAGE
.alumni-service{
  padding-bottom: 35px;
}
.services-alumni-office{
    padding: 70px 0;
    background: #fff;
    z-index: 999;
    position: relative;
    @include md{
      padding: 30px 0;
    }
}
.services-card{
  .service-card-img{
    img{
      width:100%;
    }
  }
  .service-card-content{
    padding: 30px;
    @include md{
      padding: 20px 0px;
    }
    h5{
      font-weight: $bold;
      color: $PrimaryClr;
      padding-bottom: 15px;
    }
    ul{
      li{
        padding-bottom: 15px;
        display:flex;
        align-items: flex-start;
        font-size: 15px;
        @include lg{
          padding-bottom: 5px;
        }
      }
    }
    .btn-serv{
      margin-top:15px;
      border: 1px solid #5c2664;
      font-size: 18px;
      padding: 10px 30px;
      background-color: #5c2664;
      color: #fff;
      display: table;
    }
  }

  .column-rev-mob{
    @include md{
      flex-direction: column-reverse;
    }
  }
}

.services-card-slider{
  padding: 0 0 50px;
  // margin-left: -350px;
  @include OwlNavDots;
  .owl-stage-outer{
    // overflow: initial !important;
    .owl-stage {
        @include md{
            width: 100% !important;
            display: flex;
            flex-direction: column;
        }
        .owl-item.active {
            @include md{
              width: 100% !important;
            }
        }
    }
  }
  .service-slider{
    .card-item{
      display: flex;
      align-items: flex-start;    
      margin-block: 20px;
      box-shadow: 0px 0px 9px 1px #0000002b;
      padding: 30px;
      @include md{
        flex-direction:column;
        box-shadow: 0px 0px 0px 0px transparent;
        padding: 0px;
      }
      .card-img{
        width: 27%;
        @include md{
          width:100%;
        }
        img{
          width:auto !important;
        }
        .img-deflt{
          display:block;
          @include md{
            display:none;
          }
        }
        .img-respo{
          display:none;
          @include md{
            display:block;
          }
        }
      }
      .card-content{
        width: 70%;
        margin-left: 3%;
        @include md{
          width: 100%;
        }
        h5{
          font-weight:$bold;
          color:$PrimaryClr;
          padding-bottom:7px;
        }
        .sub-h{
          color:$black;
          padding-block: 10px;
        }
        ul{
          li{
            display:flex;
            img{
              width:auto !important;
            }
          }
        }
        .btn-serv{
          margin-top:15px;
          border: 1px solid #5c2664;
          font-size: 18px;
          padding: 10px 30px;
          background-color: #5c2664;
          color: #fff;
          display: table;
          transition:all 0.5s;
          &:hover{
            background-color: transparent;
            color: #5c2664;
          }
        }
      }
    }
  }
}


header.header-sticky {
  position: fixed;
  background-color: $PrimaryClr;
  width: 100%;
  z-index: 9999;
  top: 0;
  animation: smoothScroll 1s forwards;
  backdrop-filter: blur(16px) saturate(180%);
  &::after{
    display:none;
  }
  .navbar-nav{
    .logo-nav-item{
      margin: 0 64px;
      .logo-nav-link{
        top: -25px;
        img{
          width: 130px;
        }
      }
    }
  }
}
@keyframes smoothScroll {
0% {
  transform: translateY(-40px);
}
100% {
  transform: translateY(0px);
}
}

.sticky {
  position:sticky;
  position:-webkit-sticky;
  top: 0;
  // padding:30px;
  min-height:100vh;
  background-color: $white;
  @include md{
    position: initial;
    min-height: auto;
  }
}


// News Page
.alumni-office-news-area{
  .alumni-office-news{
    border: 1px solid $PrimaryClr;
    @include md{
      margin-bottom: 15px;
    }
  }
}


