@keyframes BannerTextAnim {
    0%{
        color: $SecondaryClr;
        margin-bottom: -40px;
    }

    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}



// AOS Custom Animation
[data-aos="rotate-positive-dir"] {
    transform: rotate(100deg);
    transition-property: transform, opacity;
    &.aos-animate {
      transform: rotate(0);
    }
}
[data-aos="rotate-negative-dir"] {
    transform: rotate(-100deg);
    transition-property: transform, opacity;
    &.aos-animate {
      transform: rotate(0);
    }
}
// AOS Custom Animation
